body {
    margin: 0px;
}
#body-header {
    /* important to provide height cuz default is zero */
    height: 60vh;
    background-image: url(images/cover.jpg);
    opacity: 0.7;
    /* opacity is to make our image blurry */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /*  we want that when we scroll it's like it's like we are scrolling over the image */
}
.horizontal-list{
    list-style: none;
    /* to remove bullet points */
    padding-left: 0px;
    /*  to allign the text in center */
    margin: 0px;
    font-size: 2rem;

}
.horizontal-list li{
    /* every list item inside the horizontal list should have 
    there display as inline block */
    display: inline-block;
    margin: 0rem 1rem 1rem 0rem;
    /* this is TLRB */
}
.horizontal-list li a{
    /* as color is the property of the anchor tag so it should be changed here */
    color: black;
    text-decoration: none;
    transition: color 0.5s, border-bottom 2s;
    /* transition is for the hovering it will take a time or effect */
    /* anchor tags have some by default decoration */
}
.horizontal-list li a:hover{
    /* this class is when you hover over the anchor tag */
    color: lightskyblue;
}
.nav-menu li a:hover{
    /* to be specific with the border on the bottom we have created another class */
    border-bottom: 1px solid rgb(0, 0, 0);
}
.text-center{
    text-align: center;
}
#name-container{
    margin-top: 20px;
}
#my-name{
    font-size: 5rem;
    letter-spacing: 0.05em;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.social-icons li a span{
    padding: 1rem;
    border-radius: 50%;
    /* to make the border circular */
}
.social-icons li a span:hover{
    text-decoration: none;
    border-bottom: 0px;
    box-shadow: 0px 0px 6px 4px rgba(0,0,0,0.5);
    /* horizontal offset vertical offset blurr spread and color */
}